---
# setup-standby.yml
# This playbook configures standby servers. PostgreSQL is installed on standby servers, data directory with permission 0700 is created. Replication is setup.

# Configure the PostgreSQL standby servers.
- name: Setup Standby servers
  hosts: STANDBY
  become: true
  tasks:

    # Common variables from conf.yml are loaded.
    - name: Load common variables
      include_vars:
        file: ../../conf.yml

    # Variables from vault.yml are loaded.
    - name: Load vault variables
      include_vars:
        file: ../../vault.yml

    # PGDG Repository is setup using setup-pgdg-repo.yml task.
    - name: Setup pgdg repo
      include_tasks: ../tasks/setup-pgdg-repo.yml

    # Install the specified PostgreSQL version.
    - name: Install PostgreSQL-{{ PG_VERSION }}
      package:
        name: "{{ 'postgresql' + (('-' + PG_VERSION | string) if ansible_facts['os_family'] == 'Debian' else PG_VERSION | string + '-server') }}"
        state: present

    # Create data directory on standby servers.
    - name: Create data directory
      become_user: postgres
      file:
        path: "{{ INITDB_PATH }}"
        state: directory

    # Set permissions on data directory.
    - name: Set permissions for data directory
      become_user: postgres
      file:
        path: "{{ INITDB_PATH }}"
        owner: postgres
        group: postgres
        mode: "0700"
        recurse: yes

    # Stop already running PostgreSQL service.
    - name: Stop already running service
      shell: service postgresql stop
      when: ansible_facts['os_family'] == 'Debian'

    # Create a .pgpass file to store psql and repuser password in PSQL_SERVER_PASSWORD and REPUSER_PASSWORD variables inside vault.yml.
    - name: Creating .pgpass file
      become_user: postgres
      copy:
        dest: "~/.pgpass"
        mode: 0600
        content: |
          localhost:{{ PG_PORT }}:postgres:postgres:{{ PSQL_SERVER_PASSWORD }}
          {{ hostvars['PRIMARY']['ansible_host'] }}:{{ PG_PORT }}:*:repuser:{{ REPUSER_PASSWORD }}
          {% for STANDBYS in groups['STANDBY'] %}
          {{ hostvars[STANDBYS]['ansible_host'] }}:{{ PG_PORT }}:*:repuser:{{ REPUSER_PASSWORD }}
          {% endfor %}

    # Check if data directory is empty.
    - name: Check if the data directory is empty
      find:
        paths: "{{ INITDB_PATH }}"
        file_type: directory
        patterns: "*"
      register: DIR_CONTENTS

    # Display error message if INITDB_PATH is not empty.
    - name: Display error message and exit if the directory is not empty
      fail:
        msg: "The data directory '{{ INITDB_PATH }}' is not empty."
      when: DIR_CONTENTS.files | length > 0

    # Run pg_basebackup command to setup replication.
    - name: Run pg_basebackup for standby servers
      become_user: postgres
      shell: " pg_basebackup -h {{ hostvars['PRIMARY']['ansible_host'] }} -p {{ PG_PORT }} -U repuser -X stream -v -R -w -D {{ INITDB_PATH }} "

    # Update primary_slot_name in postgresql.conf on standby servers.
    - name: Update primary_slot_name in postgresql.conf
      become_user: postgres
      lineinfile:
        path: "{{ INITDB_PATH }}/postgresql.conf"
        regexp: '^#?primary_slot_name.*$'
        line: 'primary_slot_name = {{ item.PG_REPLICATION_SLOT }}'
      loop: "{{ STANDBY_SERVERS }}"
      when: inventory_hostname == item.NAME

    # Start standby servers.
    - name: Start the standby server
      become_user: postgres
      shell: >
        {{ (ansible_facts['os_family'] == 'RedHat') | ternary(
          '/usr/pgsql-' + PG_VERSION | string + '/bin/pg_ctl',
          '/usr/lib/postgresql/' + PG_VERSION | string + '/bin/pg_ctl'
        ) }} -D {{ INITDB_PATH }} start -o "-p {{ PG_PORT }}"

    # Install pgpool using apt.
    - name: Install pgpool2
      package:
        name: pgpool2
        state: present
      when: ansible_facts['os_family'] == 'Debian'

    - name: Install pgpool-II release RPM
      dnf:
        disable_gpg_check: True
        name: https://www.pgpool.net/yum/rpms/4.5/redhat/rhel-9-x86_64/pgpool-II-release-4.5-1.noarch.rpm
        state: present
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Install pgpool-II for the specified PostgreSQL version on RHEL
      dnf:
        name: pgpool-II-pg{{ PG_VERSION }}
        state: present
      when: ansible_facts['os_family'] == 'RedHat'

    # Change owner, group and permissions of pcp.conf file.
    - name: Change permissions, owner, and group of the pcp.conf file
      file:
        path: "{{ '/etc/pgpool-II/pcp.conf' if ansible_facts['os_family'] == 'RedHat' else '/etc/pgpool2/pcp.conf' }}"
        owner: postgres  # Set the owner to postgres
        group: postgres  # Set the group to postgres
        mode: "0600"  # Set the permissions to 0600

    # Add postgres user and PSQL_SERVER_PASSWORD to pcp.conf file.
    - name: Add user and password to pcp.conf
      command: >
        sh -c "echo 'postgres:'$(pg_md5 {{ PSQL_SERVER_PASSWORD }}) >> {{ '/etc/pgpool-II/pcp.conf' if ansible_facts['os_family'] == 'RedHat' else '/etc/pgpool2/pcp.conf' }}"

    # Stop pgpool2 service on standbys.
    - name: Stopping pgpool2 service
      service:
        name: "{{ 'pgpool' if ansible_facts['os_family'] == 'RedHat' else 'pgpool2' }}"
        state: stopped

    # Create a .pcppass file.
    - name: Creating pcppass file
      become_user: postgres
      copy:
        dest: "~/.pcppass"
        mode: 0600
        content: |
          localhost:9898:postgres:{{ PSQL_SERVER_PASSWORD }}
          {{ hostvars['PRIMARY']['ansible_host'] }}:9898:postgres:{{ PSQL_SERVER_PASSWORD }}
          {% for STANDBYS in groups['STANDBY'] %}
          {{ hostvars[STANDBYS]['ansible_host'] }}:9898:postgres:{{ PSQL_SERVER_PASSWORD }}
          {% endfor %}
